@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&family=Inter:wght@100..900&display=swap');
@import "tailwindcss";
.bahianita-regular {
  font-family: "Bahianita", sans-serif;
  font-weight: 400;
  font-style: normal;
}


@theme {
  --font-bahiana: "Bahiana", cursive;
  --font-bahianita: "Bahianita", cursive;
  --font-lexend: "Lexend Deca", sans-serif;
  --font-figtree: "Figtree", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@keyframes swing {
  0%   { transform: rotate(0deg) translateY(0px); }
  25%  { transform: rotate(1.5deg) translateY(-2px); }
  50%  { transform: rotate(0deg) translateY(-4px); }
  75%  { transform: rotate(-1.5deg) translateY(-2px); }
  100% { transform: rotate(0deg) translateY(0px); }
}

.swinging {
  animation: swing 6s ease-in-out infinite;
  transform-origin: top center;
  will-change: transform;
}